<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
 
  <img id="math" src="/mathieu-avatar.jpg"></img>
    <h3><a href="/about.html">About Mathieu ANCELIN</a></h3>
    <h4><a href="https://github.com/mathieuancelin/mathieuancelin.github.com/issues/new"  target="_blank">Ask me anything</a></h4>
    <h4><a href="https://twitter.com/#!/TrevorReznik">@TrevorReznik</a></h4>
    <h4><a href="https://github.com/mathieuancelin">mathieuancelin on github</a></h4>
    <h4><a href="/atom.xml">RSS feed</a></h4>
    <h4><a href="/archive.html">All posts</a></h4>
    <h4><a href="/tags.html">Tags</a></h4>
    <hr>
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %} 

  </div>
</div>
